.lead {
    font-size: 25px;
    color: #fff;
}

.story-title > .col-md-12 {
    padding-top: 1.00rem;
    padding-bottom: .5rem;
    margin: 1.00rem;
    border-radius: 5%;
    background-color: #32383E;
    border: 1px solid #eee;
}
.mynav {
    padding: 0;
}
.smaller {
    font-size: 14px;
}
.larger {
    font-size: 20px;
    color: red;
}
.card {
    margin: 20px;
}
/* .list-group-item:hover {
    background-color: red;
} */
/* .list-group-item:hover {
    background-color: blue;
} */
ul.mytest > li.list-group-item:hover  {
    background-color: #ff0000;
}
ul.mytest > li.list-group-item  {
    background-color: blue;
}
